h1{
    background-color: rgb(9, 9, 138);
    color: white;
    height: 40px;
    width: 60%;
}

h2{
    background-color: rgb(9, 9, 138);
    color: white;
    height: 40px;
    width: 50%;
    margin-left: 20%;
}
main {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
    border-radius:10px;
    padding: 20px;
    margin-top: 10%;
}
input {
    margin-left: 20px;
    float: none;
    left: 50%;
    transform: translate(-50%,-50%);
}